<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">

<a href="{% url 'home' %}">Start Again</a>

<h3 class="card">There are {{count}} Words in Your Text</h3>

<h1>Your Text:</h1>
<p style="text-align:justify">{{fulltext}}</p>

<h1>Word Count:</h1>
<table class="center responsive-table">
  <thead>
      <tr>
          <th>WORDS</th>
          <th>OCCURENCE</th>
      </tr>
  </thead>
  <tbody>
{% for word, counttotal in word_dictionary %}

<tr>
  <td>{{word}}</td>
  <td>{{counttotal}}</td>
</tr>
{% endfor%}
<tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
</script>
